@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    overflow-x: hidden;
    max-width: 100vw;
    position: relative;
  }
  
  #root {
    max-width: 100%;
    overflow-x: hidden;
  }
  
  body {
    @apply bg-gray-50 text-slate-900 antialiased;
  }
}

@layer utilities {
  .text-navy {
    @apply text-secondary;
  }
  
  .bg-navy {
    @apply bg-gradient-to-r from-primary to-primary-dark;
  }
  
  .text-gold {
    @apply text-gold-600;
  }
  
  .bg-gold {
    @apply bg-gold-500;
  }
}




